
nodeMCU/.DS_Store
.DS_Store
nodeMCU/.DS_Store
nodeMCU/soilMoistureThingMockup/.DS_Store
nodeMCU/.DS_Store
nodeMCU/soilMoistureThingMockup/.DS_Store
nodeMCU/.DS_Store

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk