
nodeMCU/.DS_Store
.DS_Store
nodeMCU/.DS_Store
nodeMCU/soilMoistureThingMockup/.DS_Store
nodeMCU/.DS_Store
nodeMCU/soilMoistureThingMockup/.DS_Store
nodeMCU/.DS_Store

# Directories potentially created on remote AFP share
/.AppleDB
**/.AppleDesktop
**/Network Trash Folder
**/Temporary Items
**/.apdisk
.Parent
nodeMCU/.DS_Store
nodeMCU/soilMoistureThing/.DS_Store
nodeMCU/soilMoistureThing/lua/.AppleDouble/.Parent
nodeMCU/soilMoistureThingMockup/.AppleDouble/.DS_Store
raspberryPI/.AppleDouble/.DS_Store
raspberryPI/.AppleDouble/.Parent
